html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    /*================================ font-weight  ================================*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}


html {
    font-family: 'Poppins', sans-serif;
    background-color: #001e24;
	box-sizing: border-box;
	min-height: 100vh;
	width: 100%;
    color: lightgray;
    font-size: 16px;
    scroll-behavior: smooth;
}

.section_1{
    width: 100%;
    height: 100vh;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url(media/image/anime-sky-wallpapers.jpg); 
    background-size: cover;
    background-position: center;
    position: absolute;
}
/*background*/

.main{
    /* margin: 10px 25px */
}

.header {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo and navigation bar*/
.header img{
    width: 125px;
}
/*logo*/
.header img, button{
    margin: 0 20px;
}
/*margin left and right logo and contact button*/

nav li {
    /*style the list*/
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
nav a{
    /*style the link*/
    font-weight: var(--font-semi-bold);
    text-decoration: none;
    color: lightgray;
}
nav .contact2{
    display: none;
}
nav li:hover{
    /*change color when hover*/
    color: #5bbfff;
    animation: all 0.3s ease 0s
}
nav li::after{
    /*some line below the link*/
    content: '';
    height: 3px;
    width: 0;
    background: #5bbfff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
/*orange line under the link*/
nav li:hover::after{
    width: 100%;
    color: #189AB4;
    animation: all 0.3s ease 0s
}
/*line will appear when a hover*/
@keyframes contact-button{
    0%{border-radius: 0px}
    10%{border-radius: 10px;}
    20%{border-radius: 20px;}
    30%{border-radius: 30px;}
    40%{border-radius: 40px;}
    50%{border-radius: 50px;}
    60%{border-radius: 40px;}
    70%{border-radius: 30px;}
    80%{border-radius: 20px;}
    90%{border-radius: 10px;}
    100%{border-radius: 0px;}
}
/*contact button animation*/

.header button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: var(--font-semi-bold);
    background-color: rgba(91,191,255, 1);
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    animation: contact-button 4s linear 0s infinite alternate;
}
/*contact button*/
.header button:hover{
    background-color: rgba(91,191,255, 0.6);
    animation: contact-button 3s ease-in-out 0s infinite both;
    color: rgba(255, 255, 255, 0.6)
}
/*contact button when hover*/
.header .fa {
    display: none;
}


.section_1 .content{
    display: grid;
    justify-content: center;
    align-content: center;
    place-content: center;
    width: 100%;
    height: 75vh;
}
.section_1 .content .text{
    font-size: 30px;
}
.section_1 .content .text h4{
    font-size: 40px;
    font-weight: var(--font-medium);
}
.section_1 .content .text span{
    color: #329dfa;
    font-weight: var(--font-semi-bold);
}
.section_1 .content .text button{
    display: inline-block;
    padding: 10px 20px;
    border: #5bbfff solid 3px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-medium);
    color: lightgray;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.section_1 .content .text a span{
    height: 100%;
    width: 0%;
    background-color: #5bbfff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.section_1 .content .text a button:hover span{
    width: 100%;
}












.cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }