html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    /*================================ font-weight  ================================*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}


html {
    font-family: 'Poppins', sans-serif;
    background-color: #001e24;
	box-sizing: border-box;
	min-height: 100vh;
	width: 100%;
    color: lightgray;
    font-size: 16px;
    scroll-behavior: smooth;
}

.section_1{
    width: 100%;
    height: 100vh;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url(media/image/anime-sky-wallpapers.jpg); 
    background-size: cover;
    background-position: center;
    position: absolute;
}
/*background*/

.main{
    /* margin: 10px 25px */
}

.header {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo and navigation bar*/
.header img{
    width: 125px;
}
/*logo*/
.header img, button{
    margin: 0 20px;
}
/*margin left and right logo and contact button*/

nav li {
    /*style the list*/
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
nav a{
    /*style the link*/
    font-weight: var(--font-semi-bold);
    text-decoration: none;
    color: lightgray;
}
nav .contact2{
    display: none;
}
nav li:hover{
    /*change color when hover*/
    color: #5bbfff;
    animation: all 0.3s ease 0s
}
nav li::after{
    /*some line below the link*/
    content: '';
    height: 3px;
    width: 0;
    background: #5bbfff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
/*orange line under the link*/
nav li:hover::after{
    width: 100%;
    color: #189AB4;
    animation: all 0.3s ease 0s
}
/*line will appear when a hover*/
@keyframes contact-button{
    0%{border-radius: 0px}
    10%{border-radius: 10px;}
    20%{border-radius: 20px;}
    30%{border-radius: 30px;}
    40%{border-radius: 40px;}
    50%{border-radius: 50px;}
    60%{border-radius: 40px;}
    70%{border-radius: 30px;}
    80%{border-radius: 20px;}
    90%{border-radius: 10px;}
    100%{border-radius: 0px;}
}
/*contact button animation*/

.header button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
    font-weight: var(--font-semi-bold);
    background-color: rgba(91,191,255, 1);
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    animation: contact-button 4s linear 0s infinite alternate;
}
/*contact button*/
.header button:hover{
    background-color: rgba(91,191,255, 0.6);
    animation: contact-button 3s ease-in-out 0s infinite both;
    color: rgba(255, 255, 255, 0.6)
}
/*contact button when hover*/
.header .fa {
    display: none;
}
/* .navigation {
    display: none;
} */


.section_1 .content{
    display: grid;
    justify-content: center;
    align-content: center;
    place-content: center;
    width: 100%;
    height: 75vh;
}
.section_1 .content .text{
    font-size: 30px;
}
.section_1 .content .text h4{
    font-size: 40px;
    font-weight: var(--font-medium);
    animation: slideInLeft;
    animation-duration: 2.5s;
}
.section_1 .content .text p{
    animation: fadeInLeft;
    animation-duration: 2s;
}
.section_1 .content .text a{
    animation: fadeIn;
    animation-duration: 6s;
}
.section_1 .content .text span{
    color: #329dfa;
    font-weight: var(--font-semi-bold);
}
.section_1 .content .text button{
    display: inline-block;
    padding: 10px 20px;
    border: #5bbfff solid 3px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--font-medium);
    color: lightgray;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.section_1 .content .text a span{
    height: 100%;
    width: 0%;
    background-color: #5bbfff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}
.section_1 .content .text a button:hover span{
    width: 100%;
}
.section_1 .content .text a button:hover{
    color: white;
}



.section_2{
    height: 100vh;
    width: 100%;
    background-color: #090d2a;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.section_2 .content h1{
    font-size: 30px;
    font-weight: var(--font-semi-bold);
    margin: 10px 0;
    text-align: center;
}
.section_2 .content h2{
    font-size: 25px;
    font-weight: var(--font-medium);
    margin-bottom: 10px;
}
.section_2 .content .poster_wrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.section_2 .content .poster img{
    height: auto;
    width: 200px;
    margin-right: 40px;
}

.section_2 .content .foto_container {
    margin-top: 20px;
}
.section_2 .content .foto_wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.section_2 .content .foto img{
    height: auto;
    width: 150px;
}
.section_2 .content .foto{
    margin-right: 40px;
}
.section_2 .content .foto_wrap:nth-child(2) .foto img{
    height: auto;
    width: 170px;
}
.section_2 .content table td img{
    height: auto;
    width: 200px;
}
.section_2 .content table{
    border: solid #FFD700 2px;
    font-size: 14px;
    text-align: center;
    margin-right: 40px;
    margin-left: -10px;
}
.section_2 .content .foto_container .mobile_alert{
    display: none;
}


.section_3{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #0b1034;
}
.section_3 .content h1{
    font-size: 35px;
    font-weight: var(--font-semi-bold);
    margin: 20px 0;
    text-align: center;
}
.section_3 .content .profile{
    display: flex;
    justify-content: center;
}
.section_3 .content .profile__picture{
    /*style the picture content*/
    width: 200px;
    height: 200px;
    background-color: #5bbfff;
    border-radius: 50%;
    box-shadow: linear-gradient(rgb(216, 187, 187), rgba(220, 195, 195, 0.6));
    display: grid;
    place-items: center;
}
.section_3 .content .profile__picture img{
    /*style the photo profile*/
    width: 175px;
    height: 175px;
    border-radius: 50%;
}
.section_3 .content .text{
    margin: 30px 200px;
    font-size: 20px;
    text-align: justify;
}
.section_3 .content .text .salken{
    display: inline-block;
    font-size: 35px;
    line-height: 0;
}
.section_3 .content .text a{
    color: lightblue;
}
.section_3 .content .text p .Photoshop{
    color:#8BC3FC;
}
.section_3 .content .text p .Lightroom{
    color: #B4D6E0;
}



.footer{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgb(7, 21, 28);
    left: 0rem;
    color: var(--font-color)
}
.footer-col{
    width: 80%;
    margin: 30px auto;
    display: flex;
    color: var(--font-color);
}
.footer .col1{
    margin-top: -10px;
    width: 40%;
    flex-basis: 50%;
}
.footer .col1 h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.col1 p{
    text-align: left;
    text-indent: 0;
}
.col1 ul a{
    text-decoration: none;
    color: lightgray;
}
.col1 ul a:nth-child(1){
    list-style: none;
    margin-left: -10px;
    display: inline-block;
}
.col1 ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.col1 ul li i{
    font-size: 20px;
}

.col1 ul a:nth-child(1):hover{
    color: #E4405F;
}
.col1 ul a:nth-child(2):hover{
    color: #7289DA;
}
.col1 ul a:nth-child(3):hover{
    color: #25D366;
}

.col2 {
    right:0;
    margin-left: 30%;
}
.col2 h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.col2 a{
    display: block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}












@media (max-width: 700px){
    html, body {
        min-height: 100vh;
        width: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
        position: absolute;
    }

    .section_1 {
        height: 100vh;
        width: 100%;
    }
    .section_1 .header .navlinks{
        position: absolute;
        box-sizing: border-box;
        background-color: rgba(24, 154, 180, 0.95);
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: 1s;
    }
    .section_1 .header .navlinks ul li{
        display: block;
        padding: 25px;
        font-size: 14px;
        margin: 0px;
        border: solid lightgray 1px;
    }
    .section_1 .header nav .fa {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin: 5px;
        color: lightgray;
    }
    .section_1 .nav-links nav ul li::after{
        bottom: 0;
    }
    .section_1 .nav-links nav ul li:hover{
        border: none;
    }
    .section_1 .header .navlinks .contact2{
        display: block;
    }
    .section_1 .header .fa{
        display: block;
    }
    .section_1 .header .fa-bars{
        /*style the menu bars*/
        font-size: 25px;
        right: 20px;
        position: absolute;
    }
    .section_1 .nav-links .fa-times{
        /*style the exit icon*/
        margin: 10px;
        font-size: 25px;
    }
    .section_1 .button_link {
        display: none;
    }
    .section_1 .header img{
        width: 100px;
        margin: 20px 10px;
    }
    .section_1 .header .logo_icon{
        display: inline-block;
        margin-top: 10px;
    }
    .section_1 .header .menu-icon{
        /*style the menu icon*/
        display: block;
        font-size:  25px;
        cursor: pointer;
        margin: 5px;
        padding-right: 20px;
        color: lightgray;
    }


    .section_1 .container {
        width: auto;
        height: auto;
        box-sizing: border-box;
    }
    .section_1 .content .text{
        margin: 0 20px; 
    }
    .section_1 .content .text p{
        font-size: 20px;
    }
    .section_1 .content .text p span{
        font-weight: var(--font-semi-bold);
    }



    .section_2 {
        display: flex;
        justify-content: center;
    }
    .section_2 .content h1{
        margin: 40px 10px;
        font-size: 30px;
    }
    .section_2 .content h2{
        font-size: 20px;
        font-weight: var(--font-medium);
        margin-bottom: 5px;
    }
    .section_2 .content .poster_wrap{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
    }
    .section_2 .content .poster img{
        height: auto;
        width: 100px;
        margin-right: 10px;
    }
    
    .section_2 .content .foto_container {
        margin-top: 30px;
    }
    .section_2 .content .foto_wrap {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
    }
    .section_2 .content .foto img{
        height: auto;
        width: 100px;
    }
    .section_2 .content .foto{
        margin-right: 10px;
    }
    .section_2 .content .foto_wrap:nth-child(2) .foto img{
        height: auto;
        width: 100px;
    }
    .section_2 .content table td img{
        height: auto;
        width: 100px;
    }
    .section_2 .content table{
        border: solid #FFD700 2px;
        font-size: 14px;
        text-align: center;
        margin-right: 10px;
        margin-left: -10px;
    }
    .section_2 .content .foto_container .mobile_alert{
        text-align: center;
        display: block;
        margin-top: 20px;
    }
    

    .section_3{
        height: 110vh;
        width: auto;
        display: flex;
        justify-content: center;
        background-color: #0b1034;
    }
    .section_3 .content h1{
        font-size: 35px;
        font-weight: var(--font-semi-bold);
        margin: 20px;
        text-align: center;
    }
    .section_3 .content .profile{
        display: flex;
        justify-content: center;
    }
    .section_3 .content .profile__picture{
        /*style the picture content*/
        width: 175px;
        height: 175px;
        background-color: #5bbfff;
        border-radius: 50%;
        box-shadow: linear-gradient(rgb(216, 187, 187), rgba(220, 195, 195, 0.6));
        display: grid;
        place-items: center;
    }
    .section_3 .content .profile__picture img{
        /*style the photo profile*/
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .section_3 .content .text{
        margin: 20px;
        font-size: 14px;
        text-align: justify;
    }
    .section_3 .content .text .salken{
        display: inline-block;
        font-size: 25px;
        line-height: 0;
    }
    .section_3 .content .text a{
        color: lightblue;
    }
    .section_3 .content .text p .Photoshop{
        color:#8BC3FC;
    }
    .section_3 .content .text p .Lightroom{
        color: #B4D6E0;
    }
    

}









.cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }